<!DOCTYPE html>
<html>
<head>
  <title>General Conference Quotes</title>
  <style>
  .talk {

  }
  .talk .speaker,
  .talk .title {
    display: inline;
  }
  .instructions {
    font-style: italic;
    background: #fe9;
    padding: 0.5rem 1rem;
  }
  .markdown {
    white-space: pre;
  }
  .markdown .section:hover {
    background-color: yellow;
    cursor: default;
  }
  .markdown .section.used {
    background-color: orange;
  }
  .segments {
  }
  .segments .segment {
    border: 2px solid #ddd;
    border-radius: 3px;
    margin: 0.5rem 0;
    padding: 1rem;
  }
  .segments .segment.current {
    border-color: steelblue;
  }
  .segments .add-segment {
    border-color: #eee;
  }
  </style>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body ng-app="gc.quotes" ng-controller="QuotesCtrl as ctrl">
  <script src="//cdnjs.cloudflare.com/ajax/libs/js-yaml/3.4.3/js-yaml.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="quotes.js"></script>
  <div class="container">
    <h1>General Conference Quote Board</h1>

    <div id="player"></div>

    <p class="instructions" ng-if="!ctrl.State.segments.length">
      Click on New snippet to get started.
    </p>

    <div class="segments">
      <div class="segment" ng-class="{current: ctrl.State.current==segment}" ng-repeat="segment in ctrl.State.segments">
        
        <!-- no talk chosen -->
        <div ng-if="!segment.talk_url">
          <label for="conference">Conference</label>
          <select class="u-full-width" id="conference" ng-model="segment.$conference" ng-options="conf as (conf.year+'/'+conf.month) for conf in ctrl.server.conferences">
          </select>

          <div class="talks">
            <div class="talk" ng-repeat="talk in segment.$conference.talk_list">
              <div class="speaker">{{ talk.speaker }}</div>
              <div class="title"><a href="" ng-click="ctrl.State.chooseTalk(segment, talk.year, talk.month, talk.key);">{{ talk.title }}</a></div>
            </div>
          </div>
        </div>
        

        <!-- talk chosen -->
        <div ng-if="segment.talk_url">
          <div class="title">{{ segment.info.metadata.title }}</div>
          <div class="speaker">{{ segment.info.metadata.speaker }}</div>
          <button ng-click="ctrl.State.current=segment" ng-if="ctrl.State.current!==segment">Edit</button>
          <button ng-click="ctrl.State.current=null" ng-if="ctrl.State.current===segment">Done</button>
          <button class="play-button" ng-click="ctrl.State.playSegment(segment);">Play</button>

          <!-- selected -->
          <div ng-if="segment===ctrl.State.current">
            <p class="instructions">
              Click on the portions of the talk you want to play, then click the Play button.
            </p>

            <div class="markdown"><span class="section" ng-repeat="stream in segment.streams" ng-click="ctrl.State.toggleStream(segment, stream)" ng-class="{used: stream.used}">{{ stream.text }}</span></div>

          </div>

        </div>
      </div>
      <div class="segment add-segment" ng-click="ctrl.State.addSegment()">
        New snippet
      </div>
    </div>

    <!-- chooser -->
    <div class="row" ng-if="">
      <div class="one-half column">

        <div ng-if="ctrl.no_timing_info.length">
          <p>
            <b>No one has tagged these yet.</b>  If you have time to watch the whole talk, you could help make the talk useable in this tool.  Click the link below to give it a shot.</p>
          <ul>
            <li ng-repeat="talk in ctrl.no_timing_info">
              <a href="./timingeditor.html?talk=/eng/{{ talk.metadata.year }}-{{ talk.metadata.month }}/{{ talk.metadata.key }}">{{ talk.metadata.title }}</a>
            </li>
          </ul>
        </div>

        <form ng-submit="ctrl.addQuote()">
          
          <label for="conference">Conference</label>
          <select class="u-full-width" id="conference" ng-model="ctrl.add_conference" ng-options="conf as (conf.year+'/'+conf.month) for conf in ctrl.server.conferences">
          </select>

          <div class="talks">
            <div class="talk" ng-repeat="talk in ctrl.add_conference.talk_list">
              <div class="speaker">{{ talk.speaker }}</div>
              <div class="title"><a href="" ng-click="ctrl.chooseTalk(talk); ctrl.add_conference=null;">{{ talk.title }}</a></div>
            </div>
          </div>
        </form>
      </div>
      <div class="one-half column"></div>
    </div>

    <!-- talks -->
    <div class="row" ng-repeat="quote in ctrl.quotes">
      <div class="two-thirds column">
        <div class="markdown"><span class="section" ng-repeat="stream in quote.streams" ng-click="ctrl.toggleStream(quote, stream)" ng-class="{used: stream.used}">{{ stream.text }}</span></div>
      </div>
      <div class="one-third column">
        <div class="video" ng-repeat="range in quote.ranges">
          <a href="{{ range[2] }}" target="_blank">{{ range[2] }}</a>
          <!-- <iframe id="ytplayer" type="text/html" width="320" height="240" ng-src="range[2]" frameborder="0"/> -->
        </div>
      </div>
    </div>

  </div>

  <div class="container">
    <a href="https://github.com/iffy/generalconference/blob/gh-pages/tools/quotes.html">Edit this page on Github.</a>
  </div>
</body>
</html>